
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #04045E;

}
 /* container logo info email button */

body {
    font-family: 'open sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
}



h1{
    font-weight: 600;
    font-size: 32px;
}
p{
    margin-bottom: 60px;
}

.results {
    display: flex;
    gap: 20px;
    height: 85vh;
    width: 100%;
    margin: auto;
    /* flex-direction: column; */
    justify-content: center;
    overflow: auto;

}
.result{
    width: 50%;
}

.summary{
    border: 1px #04045E solid;
    border-radius: 20px;
    padding: 0 5%;
    display: flex;
    flex-direction: column;
}
.summary>.detail{
    border-bottom:  1px #04045E solid;
    width: 100%;
    display: flex;
    padding: 0 10%;
    justify-content: space-between;
}
.detail>div{
    width: 50%;
}
.space{
    width: 60%;
    margin: auto;
    text-align: center;
    font-weight: 400;
    font-size: 24px;
    padding-top: 10px;
}

.download {
    background: #04045E;
    color: rgba(202, 240, 248, 0.9) ;
    padding: 20px 20px;
    border-radius: 5px;
    width: 500px;
    font-weight: 700;
    font-size: 20px;
    transition: 0.3s ease;
}

.di1,.di2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

a>button:hover {
    transform: scale(0.95);
    cursor: pointer;
}

.options{
    display: flex;
    justify-content: space-between;
    height: 150px;
    
}












/*              for mobile screens             */


@media screen and (max-width:500px){

    body {
        font-weight: 200;
        font-size: 10px;
        width: 80%;
        margin: auto;
    }
    h1 {
        font-weight: 300;
        font-size: 20px;
    }

    button{
        width: 150px;
        padding: 10px 20px;
        font-weight: 200;
        font-size: 10px;
    }
    .logo{
        transform: scale(0.5) ;
    }
    button{
        width: 150px;
        font-weight: 200;
        font-size: 10px;
    }
    
}


@media screen and (max-width:900px){
    button{
        width: 250px;
        font-size: 10px;
        padding: 10px 20px;
    }
    .options{
        height: 100px;
    }

}