
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #04045E;

}

body {
    font-family: 'open sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
}


h1{
    font-weight: 600;
    font-size: 32px;
}
p{
    margin-bottom: 60px;
}



.logo{
    width: 200px;
    margin: auto;
}
img{
    transform: translateX(-10%);
}



.details{
    display: flex;
    flex-direction: column ;
    text-align: center;  
}
form input{ 
    background: linear-gradient(0deg, rgba(202, 240, 248, 0.3), rgba(202, 240, 248, 0.3)), #FFFFFF;
    text-align: center;
    width: 400px;
    height: 50px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-weight: 500;
    font-size: 20px; 
    margin-bottom: 50px ;
    
    
}

button{
    background: #04045E;
    color: rgba(202, 240, 248, 0.9) ;
    padding: 10px 20px;
    border-radius: 5px;
    width: 250px;
    font-weight: 700;
    font-size: 20px;
    transition: 0.3s ease;
}

a>button:hover {
    transform: scale(0.95);
    cursor: pointer;

}




/*              for mobile screens             */


@media screen and (max-width:634px){

    body {
        font-weight: 200;
        font-size: 10px;
    }
    h1 {
        font-weight: 300;
        font-size: 20px;
    }
    input{
        width: 200px;
        height: 40px;
        font-weight: 150;
        font-size: 10px;
    }
    button{
        width: 150px;
        font-weight: 200;
        font-size: 10px;
    }
    .logo{
        transform: scale(0.5) ;
    }
    img{
        transform: translateX(-10%);
    }
}
