{% extends 'core/base_file.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'core/css/landing-page.css' %}">
<style>
  .page-container {
    padding: 0;
  }
  section:not(:last-of-type) {
    border-bottom: 1px solid rgba(3, 4, 94, 100%);
  }
</style>
{% endblock %}}

{% block content %}
<main class="page-container">
  <!-- FLEX CONTAINER -->
  <section>
  <div class="container">

    <div class="hero-1">
      <h1 class="heading">Welcome to Excel_comp</h1>
      <p class="para">A platform that helps users compare the content of Excel files! With our intuitive interface and
        powerful tools, you can easily compare Excel files and see the duplicates in them.</p>
      <div class="btn-div">
        <a href="{% url 'login' %}" class="button">
            <span style="display: block;"> Get Started </span>
            <!-- <img class="arrow" src="{% static 'core/images/arrow-right.svg' %}"> -->
            <svg width="40" height="25" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M28.8602 37.6402C28.4802 37.6402 28.1002 37.5002 27.8002 37.2002C27.2202 36.6202 27.2202 35.6602 27.8002 35.0802L38.8802 24.0002L27.8002 12.9202C27.2202 12.3402 27.2202 11.3802 27.8002 10.8002C28.3802 10.2202 29.3402 10.2202 29.9202 10.8002L42.0602 22.9402C42.6402 23.5202 42.6402 24.4802 42.0602 25.0602L29.9202 37.2002C29.6202 37.5002 29.2402 37.6402 28.8602 37.6402Z" fill="white"/>
              <path d="M40.66 25.5H7C6.18 25.5 5.5 24.82 5.5 24C5.5 23.18 6.18 22.5 7 22.5H40.66C41.48 22.5 42.16 23.18 42.16 24C42.16 24.82 41.48 25.5 40.66 25.5Z" fill="white"/>
            </svg>
          </a>
      </div>
    </div>
    <div class="hero-img">
      <img src="{% static 'core/images/image.svg' %}" alt="" class="img">
    </div>
  </div>
  </section>

  <section>
    <!-- ANOTHER FLEX CONTAINER -->
    <div class="container">
      <div class="hero-1">
        <h2 class="heading">Fast and Easy to Use</h2>
        <p class="para">With our platform, you can quickly compare the content of excel files, see a clear visual
          representation of the duplicates in the files, easily spot any discrepancies or changes in the data amd export
          the comparisons results to a new Excel file.
          Our platform is user friendly and easy to use. Try it out today.
        </p>
        <div class="btn-div">
          <a href="{% url 'login' %}" class="button">
             <span style="display: block;"> Try now&nbsp;&nbsp;&nbsp;&nbsp; </span>
            <svg width="40" height="25" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M28.8602 37.6402C28.4802 37.6402 28.1002 37.5002 27.8002 37.2002C27.2202 36.6202 27.2202 35.6602 27.8002 35.0802L38.8802 24.0002L27.8002 12.9202C27.2202 12.3402 27.2202 11.3802 27.8002 10.8002C28.3802 10.2202 29.3402 10.2202 29.9202 10.8002L42.0602 22.9402C42.6402 23.5202 42.6402 24.4802 42.0602 25.0602L29.9202 37.2002C29.6202 37.5002 29.2402 37.6402 28.8602 37.6402Z" fill="white"/>
              <path d="M40.66 25.5H7C6.18 25.5 5.5 24.82 5.5 24C5.5 23.18 6.18 22.5 7 22.5H40.66C41.48 22.5 42.16 23.18 42.16 24C42.16 24.82 41.48 25.5 40.66 25.5Z" fill="white"/>
            </svg>
          </a>
        </div>
      </div>
      <div class="hero-img">
        <img src="{% static 'core/images/image2.svg' %}" alt="" class="img">
      </div>

    </div>
  </section>

  <section>
    <!-- FLEX AGAIN! -->
    <div class="container">
      <div class="hero-1">
        <h2 class="heading">Makes Teamwork Easier</h2>
        <p class="para">Working on a team project and need to track changes to a shared spreadsheet? Or you are trying
          to merge data form multiple sources? Our platform is the right place to use as it is easy to compare Excel
          files and identify any discrepancies.</p>
        <div class="btn-div">
          <a href="{% url 'login' %}" class="button">
            <span style="display: block;"> Try now&nbsp;&nbsp;&nbsp;&nbsp; </span>
            <svg width="40" height="25" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M28.8602 37.6402C28.4802 37.6402 28.1002 37.5002 27.8002 37.2002C27.2202 36.6202 27.2202 35.6602 27.8002 35.0802L38.8802 24.0002L27.8002 12.9202C27.2202 12.3402 27.2202 11.3802 27.8002 10.8002C28.3802 10.2202 29.3402 10.2202 29.9202 10.8002L42.0602 22.9402C42.6402 23.5202 42.6402 24.4802 42.0602 25.0602L29.9202 37.2002C29.6202 37.5002 29.2402 37.6402 28.8602 37.6402Z" fill="white"/>
              <path d="M40.66 25.5H7C6.18 25.5 5.5 24.82 5.5 24C5.5 23.18 6.18 22.5 7 22.5H40.66C41.48 22.5 42.16 23.18 42.16 24C42.16 24.82 41.48 25.5 40.66 25.5Z" fill="white"/>
            </svg>
          </a>
        </div>
      </div>
      <div class="hero-img">
        <img src="{% static 'core/images/image3.svg' %}" alt="" class="img">
      </div>
    </div>
  </section>

  <section id="newsletter">
    <div class="newsletter">
      <h2 class="join">Join our newsletter now!</h2>
      <p class="join-para">Get our latest offers</p>

      <div>
        <form action="#" class="newsletter-form">
          <input type="email" id="email" name="email" placeholder="Your Best Email" required>
          <span id="error-text"></span>
          <button class="join-btn">Join</button>
        </form>
      </div>
    </div>
  </section>

</main>
{% endblock %}