{% extends 'core/base_file.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'core/css/privacy.css' %}">
<style>
  .page-container {
    padding: 0 10%;
  }
</style>
{% endblock %}}

{% block content %}
  <main class="page-container">
    
    <!--            privacy policy               -->

    <div class="container">
      <section>
        <h1>PRIVACY POLICY</h1>
      </section>
      <div class="details">
        <h2>Introduction</h2>
        <p>
          At Excel_Comp , we are committed to protecting the privacy of our
          users. This privacy policy applies to the information collected on our
          website, and explains how we, collect, use and share that information.
        </p>
      </div>
      <div class="details">
        <h2>Information We Collect</h2>
        <p>
          When you visit our website, we may collect certain information about
          your device and your use of the website, such as IP address, browser
          type, operating system, the pages you visit, and the time and duration
          of visits. <br />
          <br />
          We may also collect personal information that you voluntarily provide
          to us, such as your name, email address, and other contact
          information.
        </p>
      </div>
      <div class="details">
        <h2>How We Use Your Information</h2>
        <p>
          We use your information we collect to operate and improve our website
          and the services we offer. This may include using your information to
          personalize your experience on our website, to communicate with you,
          or to analyze usage patterns and trends. <br />
          <br />
          We may also use your information for research and development
          purposes, to ensure the security of our website and services, or to
          comply with legal obligations.
        </p>
      </div>
      <div class="details">
        <h2>Sharing your Information</h2>
        <p>
          We will not sell or rent your personal Information to third parties
          without your consent. However, we may share your information with
          certain service providers who assist us in operating our website or
          providing our services. <br />
          <br />
          We may also disclose your information as required by law , such as to
          comply with subpoena or other legal process, or to protect the rights,
          property, or safety of Excel_Comp, our users, or others.
        </p>
      </div>
      <div class="details">
        <h2>Data Security</h2>
        <p>
          We take reasonable measures to protect the information we collect from
          loss, misuse, and unauthorized access, disclosure, altercation, and
          destruction. However, no internet or email transmission is ever fully
          secure or error-free, and you should take special care in deciding
          what information you send to us. <br />
          <br />
          We may update this privacy policy from time to time to reflect changes
          to our information practices. We encourage you to periodically review
          this page for latest information on our privacy practices.
        </p>
      </div>
    </div>
  </main>
  {% endblock %}
