{% extends 'core/base_file.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'core/css/landing.css' %}">
<style>
  .page-container {
    padding: 0;
  }
</style>
{% endblock %}}

{% block content %}
<main>
    <h2>Meet The Team</h2>
    <div class="column">
    <div class="first-row">
        <div class="meet_team_item">
            <img src="{% static 'core/images/Miracle.jpg' %}" alt="TEAM MEMBER" />
            <h3>Jeremiah Miracle Ijeoma</h3>
            <p> Frontend developer</p>
        </div>
        <div class="meet_team_item">
            <img src="{% static 'core/images/Ismail.jpg' %}" alt="TEAM MEMBER" />
            <h3>Ismail Akintunde</h3>
            <p> Fullstack developer</p>
            <p>Team Lead</p>
        </div>
        <div class="meet_team_item">
            <img src="{% static 'core/images/Ekata.jpg' %}" alt="TEAM MEMBER" />
            <h3>Ekata Omoijuanfo</h3>
            <p> Product designer</p>
        </div>
    </div>
    <div class="second-row">
        <div class="meet_team_item">
            <img src="" alt="TEAM MEMBER" />
            <h3>Adewale Adedokun</h3>
            <!-- <p> Frontend developer</p> -->
        </div>
        <div class="meet_team_item">
            <img src="{% static 'core/images/Funmilola.jpg' %}" alt="TEAM MEMBER" />
            <h3>Jesulofunmilola Oyeledun</h3>
            <p>Product designer</p>
        </div>
        <div class="meet_team_item">
            <img src="{% static 'core/images/Chombe.jpg' %}" alt="TEAM MEMBER" />
            <h3>Sheena Chombe</h3>
            <p> Product designer</p>
        </div>
    </div>
    <div class="third-row">
        <div class="meet_team_item">
            <img src="{% static 'core/images/Collins.jpg' %}" alt="TEAM MEMBER" />
            <h3>Collins Tonui</h3>
            <p> Product designer</p>
        </div>
        <div class="meet_team_item">
            <img src="{% static 'core/images/Deborah.jpg' %}" alt="TEAM MEMBER" />
            <h3>Olukoya Deborah</h3>
            <p> Product designer</p>
        </div>
        <div class="meet_team_item">
            <img src="{% static 'core/images/Ijeoma.jpg' %}" alt="TEAM MEMBER" />
            <h3>Ijeoma Agobi</h3>
            <p> Frontend developer</p>
        </div>
    </div>
    <div class="fourth-row">
        <div class="meet_team_item">
            <img src="" alt="TEAM MEMBER" />
            <h3>Samuel Ademujimi</h3>
            <!-- <p> Frontend developer</p> -->
        </div>
        <div class="meet_team_item">
            <img src="" alt="TEAM MEMBER" />
            <h3>Adaobi Okwuosa</h3>
            <!-- <p> Frontend developer</p> -->
        </div>
        <div class="meet_team_item">
            <img src="{% static 'core/images/Anine.jpg' %}" alt="TEAM MEMBER" />
            <h3>Eloho Anine</h3>
            <p> Frontend developer</p>
        </div>
    </div>
    <div class="fifth-row">
        <div class="meet_team_item">
            <img src="{% static 'core/images/Victor.jpg' %}" alt="TEAM MEMBER" />
            <h3>Victor Omoruyi</h3>
            <p> Frontend developer</p>
        </div>
        <div class="meet_team_item">
            <img src="{% static 'core/images/Gunu.jpg' %}" alt="TEAM MEMBER" />
            <h3>Abdulazeez Gunu</h3>
            <p> Product designer</p>
        </div>
        <div class="meet_team_item">
            <img src="{% static 'core/images/Gomina.jpg' %}" alt="TEAM MEMBER" />
            <h3>Muftanatu Gomina</h3>
            <p> Product designer</p>
        </div>
    </div>
    <div class="sixth-row">
        <div class="meet_team_item">
            <img src="{% static 'core/images/Samuel.jpg' %}" alt="TEAM MEMBER" />
            <h3>Samuel Ateiza</h3>
            <p> Product designer</p>
        </div>
        <div class="meet_team_item">
            <img src="{% static 'core/images/Chisom.jpg' %}" alt="TEAM MEMBER" />
            <h3>Chisom Ejiofor</h3>
            <p> Product designer</p>
        </div>
        <div class="meet_team_item">
            <img src="" alt="TEAM MEMBER" />
            <h3>Oluwasegun Adeogun</h3>
            <!-- <p> Frontend developer</p> -->
        </div>
    </div>
    </div>
    
    
</main>
{% endblock %}