<!DOCTYPE html>
<html style="background: #caf0f8e5">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
    <title>Terms of Use</title>
    <link rel="stylesheet" href="{% static 'core/css/bootstrap.min.css}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Montserrat&amp;display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Open+Sans&amp;display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Rubik&amp;display=swap"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="{% static 'core/css/styles.min.css}" />
  </head>
  <body style="background: #caf0f8e5">
    <nav
      class="navbar navbar-light navbar-expand-lg fixed-top navigation-clean-button"
      style="background: #caf0f8; border: 1px solid #04045e; max-height: 70px"
    >
      <div class="container-fluid">
        <a href="#"
          ><img src="{% static 'core/images/logo.png}" style="margin-left: 40px" /></a
        ><button
          data-bs-toggle="collapse"
          class="navbar-toggler"
          data-bs-target="#navcol-1"
        >
          <span class="visually-hidden">Toggle navigation</span
          ><span class="navbar-toggler-icon"></span>
        </button>
        <div
          class="collapse navbar-collapse d-xxl-flex"
          id="navcol-1"
          style="margin-right: 40px; font-family: Montserrat, sans-serif"
        >
          <ul
            class="navbar-nav d-xxl-flex m-auto"
            style="transform: translate(0px)"
          >
            <li class="nav-item"></li>
            <li class="nav-item"><a class="nav-link" href="#">Home</a></li>
            <li class="nav-item">
              <a class="nav-link" href="#">How to use</a>
            </li>
            <li class="nav-item"><a class="nav-link" href="#">About</a></li>
          </ul>
          <button
            class="btn btn-outline-light text-capitalize"
            type="button"
            style="
              margin: 10px;
              border-radius: 8px;
              color: #04045e;
              border-color: #04045e;
              --bs-body-font-weight: 500;
              --bs-light-rgb: 71, 71, 180;
              --bs-light: #4747b4;
            "
          >
            Sign In</button
          ><button
            class="btn btn-success text-capitalize fw-bold"
            type="button"
            style="
              border-radius: 8px;
              background: #04045e;
              --bs-body-font-weight: 500;
              border-style: none;
              border-top-color: rgb(
                255)
            "
          >
            Sign Up
          </button>
        </div>
      </div>
    </nav>
    <section
      style="
        margin-top: 70px;
        padding-right: 40px;
        font-family: 'Open Sans', sans-serif;
      "
    >
      <p
        style="
          text-align: center;
          padding-top: 41px;
          font-size: 30px;
          --bs-body-font-weight: normal;
          font-weight: bold;
        "
      >
        PRIVACY POLICY
      </p>
      <div
        class="container"
        style="margin-left: 40px; margin-right: 40px; padding-right: 40px"
      >
        <div class="row">
          <div class="col">
            <p
              style="
                text-align: left;
                font-size: 30px;
                --bs-body-font-weight: normal;
                font-weight: bold;
                margin-top: 0px;
                margin-bottom: 0px;
              "
            >
              INTRODUCTION
            </p>
            <p
              style="
                font-size: 20px;
                --bs-body-font-weight: normal;
                font-weight: bold;
              "
            >
              At Excel_Comp , we are committed to protecting the privacy of our
              users. This privacy policy applies to the information collected on
              our website, and explains how we, collect, use and share&nbsp;that
              information.&nbsp;
            </p>
          </div>
        </div>
      </div>
      <div class="container" style="margin-left: 40px; padding-right: 40px">
        <div class="row">
          <div class="col">
            <p
              class="text-uppercase"
              style="
                text-align: left;
                font-size: 30px;
                --bs-body-font-weight: normal;
                font-weight: bold;
                margin-top: 0px;
                margin-bottom: 0px;
              "
            >
              Information We Collect
            </p>
            <p
              style="
                font-size: 20px;
                --bs-body-font-weight: normal;
                font-weight: bold;
              "
            >
              When you visit our website, we may collect certain information
              about your device and your use of the website, such as IP address,
              browser type, operating system, the pages you visit, and the time
              and duration of visits.<br />We may also collect personal
              information that you voluntarily provide to us, such as your name,
              email address, and other contact information.
            </p>
          </div>
        </div>
      </div>
      <div class="container" style="margin-left: 40px">
        <div class="row">
          <div class="col">
            <p
              class="text-uppercase"
              style="
                text-align: left;
                font-size: 30px;
                --bs-body-font-weight: normal;
                font-weight: bold;
                margin-top: 0px;
                margin-bottom: 0px;
              "
            >
              How We Use Your Information
            </p>
            <p
              style="
                font-size: 20px;
                --bs-body-font-weight: normal;
                font-weight: bold;
              "
            >
              We use your information we collect to operate and improve our
              website and the services we offer. This may include using your
              information to personalize your experience on our website, to
              communicate with you, or to analyze usage patterns and trends.<br />We
              may also use your information for research and development
              purposes, to ensure the security of our website and services, or
              to comply with legal obligations.
            </p>
          </div>
        </div>
      </div>
      <div class="container" style="margin-left: 40px; padding-right: 40px">
        <div class="row">
          <div class="col">
            <p
              class="text-uppercase"
              style="
                text-align: left;
                font-size: 30px;
                --bs-body-font-weight: normal;
                font-weight: bold;
                margin-top: 0px;
                margin-bottom: 0px;
              "
            >
              Sharing your Information
            </p>
            <p
              style="
                font-size: 20px;
                --bs-body-font-weight: normal;
                font-weight: bold;
              "
            >
              We will not sell or rent your personal Information to third
              parties without your consent. However, we may share your
              information with certain service providers who assist us in
              operating our website or providing our services.<br />We may also
              disclose your information as required by law , such as to comply
              with subpoena or other legal process, or to protect the rights,
              property, or safety of Excel_Comp, our users, or others.
            </p>
          </div>
        </div>
      </div>
      <div class="container" style="margin-left: 40px; padding-right: 40px">
        <div class="row">
          <div class="col">
            <p
              class="text-uppercase"
              style="
                text-align: left;
                font-size: 30px;
                --bs-body-font-weight: normal;
                font-weight: bold;
                margin-top: 0px;
                margin-bottom: 0px;
              "
            >
              Data Security
            </p>
            <p
              style="
                font-size: 20px;
                --bs-body-font-weight: normal;
                font-weight: bold;
              "
            >
              We take reasonable measures to protect the information we collect
              from loss, misuse, and unauthorized access, disclosure,
              altercation, and destruction. However, no internet or email
              transmission is ever fully secure or error-free, and you should
              take special care in deciding what information you send to us.
            </p>
            <p
              style="
                font-size: 20px;
                --bs-body-font-weight: normal;
                font-weight: bold;
              "
            >
              We may update this privacy policy from time to time to reflect
              changes to our information practices. We encourage you to
              periodically review this page for latest information on our
              privacy practices.
            </p>
          </div>
        </div>
      </div>
    </section>
    <footer
      class="footer-clean"
      style="
        background: #caf0f8e5;
        color: #04045e;
        font-family: Rubik, sans-serif;
      "
    >
      <div class="container">
        <div class="row">
          <div class="col-md-6 text-start">
            <img src="% static 'core/images/logo.png" style="max-width: 150px" />
            <p class="fs-6 fw-bold" style="margin-top: 0; margin-bottom: 8px">
              Follow us on all social media platforms
            </p>
            <div style="display: flex; color: #04045e">
              <a href="#" style="margin-right: 15px"
                ><i class="fa fa-facebook" style="color: #04045e"></i></a
              ><a href="#"
                ><i
                  class="fa fa-twitter"
                  style="margin-right: 15px; color: #04045e"
                ></i></a
              ><a href="#"><i class="fa fa-instagram"></i></a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="row justify-content-end">
              <div class="col-sm-4 col-md-3 item">
                <h3>Company</h3>
                <ul>
                  <li><a href="#">About</a></li>
                  <li><a href="#">Careers</a></li>
                  <li><a href="#">Pricing</a></li>
                </ul>
              </div>
              <div class="col-auto col-sm-4 col-md-3 mx-auto item">
                <h3 class="text-nowrap">More on excel comp</h3>
                <ul>
                  <li><a href="#">Privacy Policy</a></li>
                  <li><a href="#">Terms of Use</a></li>
                  <li><a href="#">Cookie Policy</a></li>
                </ul>
              </div>
              <div class="col-sm-4 col-md-3 item">
                <h3>Support</h3>
                <ul>
                  <li><a href="#">How it works</a></li>
                  <li><a href="#">Help Centre</a></li>
                  <li><a href="#">FAQ’s</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'core/script.min.js}"></script>
  </body>
</html>
