{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Excel_Comp</title>
    <link rel="stylesheet" href="{% static 'authentication/css/style.css' %}">
    {% block extra_css %} 

    {% endblock %}
</head>
<body>
    {% include 'registration/header.html' %}

    {% block content %} 

    {% endblock %}
    {% include 'registration/footer.html' %}
    
</body>
</html>