<footer>
    <div id="footer-hero">
        <h1>Excel <span id="brand_color">_Comp</span></h1>
        <p>Follow us on all social media platforms</p>
    </div>
    <div class="right">
        <h3>Company</h3>
        <a href="{% url 'about' %}">About</a>
        <a href="">Careers</a>
        <a href="">Pricing</a>
    </div>
    <div class="right">
        <h3>More on Excel Comp</h3>
        <a href="{% url 'privacy' %}">Privacy Policy</a>
        <a href="#">Terms of Use</a>
        <a href="{% url 'cookies' %}">Cookie Policy</a>
    </div>
    <div class="right">
        <h3>Support</h3>
        <a href="{% url 'how_to_use' %}">How it works</a>
        <a href="{% url 'support' %}">Help Centre</a>
        <a href="">FAQ's</a>
    </div>
</footer>