<footer>
    <div id="footer-hero">
        <h1>Excel <span id="brand_color">_Comp</span></h1>
        <p>Follow us on all social media platforms</p>
    </div>
    <div class="right">
        <h3>Company</h3>
        <span>About</span>
        <span>Careers</span>
        <span>Pricing</span>
    </div>
    <div class="right">
        <h3>More on Excel Comp</h3>
        <span>Privacy Policy</span>
        <span>Terms of Use</span>
        <span>Cookie Policy</span>
    </div>
    <div class="right">
        <h3>Support</h3>
        <span>How it works</span>
        <span>Help Centre</span>
        <span>FAQ's</span>
    </div>
</footer>