{% extends 'registration/base.html' %}

{% load static %}

{% block extra_css %}
<style>
  .page-container {
    padding-top: 15px;
    height: 80vh;
  }

  .form-container {
      display: flex;
      flex-direction: column;
  }
</style>
{% endblock %}

{% block content %} 
<main class="page-container">
  {% for field in form %}
    <span>{{ field.errors }}</span>  
  {% endfor %}
    <div class="signup-box">
      <div id="image1"> <img src="{% static 'authentication/images/Excel_Comp.png' %}"  alt=""></div>
      <div id="ease">Duplicate with ease</div>
      <div id="image2">  <img src="{% static 'authentication/images/vector1.png' %}"  alt=""></div>
      <form method="POST">
          {% csrf_token %}
        <div class="form-container">
            <legend class="legend">Don't Have An Account? <span class="create-now">Create Now.</span></legend>
            
            {{ form.username }}
            {{ form.email }}
            {{ form.password1 }}
            {{ form.password2 }}
            <span class="forgot-pwd">Forgot password? <a href="#">click here</a></span>
        
            <div class="btn-box">
            <a href="{% url 'login' %}" id="btn1">Sign in</a>
            <button  id="btn2">Sign up</button>
            </div>
        </div>
      </form>
    </div>

</main>
{% endblock %}