nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5% 10px;
    border-bottom: 1px solid #04045E;
}
#brand_color {
    color: #00B4D8;
}

.navigations,.nav-btns {
    display: flex;
    gap: 45px;
}

.navigations a {
    text-decoration: none;
    color: #000;
}
.nav-btns {
    gap: 10px;
}
.nav-btns a{
    font-family: Montserrat;
    text-decoration: none;
    padding: 10px 20px;
    border: 1px solid;
    border-radius: 8px;
    cursor: pointer;
}
#btn-1 {
    border-color: #04045E;
    color: #04045E;
}
#btn-1:hover {
    background: rgb(159, 230, 247);
    color: rgb(216, 244, 250);
}

#btn-2 {
    background-color: #04045E;
    color: rgb(207, 241, 249);
    /* text-decoration: none; */
}

#btn-2:hover {
    background: #010122;
    color: rgb(207, 241, 249);
}