@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:wght@400;600;700&display=swap');

:root {
  --darkBlue: rgba(3, 4, 94, 100%);
  --lightBlue: rgba(0, 119, 182, 100%);
  --lighterBlue: rgba(0, 180, 216, 100%);
  --bg: rgba(144, 224, 239, 100%);
  --supLightBlue: rgba(202, 240, 248, 100%);
  --color6: rgba(6, 33, 59, 100%);
  --color7: rgba(49, 57, 251, 100%);
  --grey: rgba(93, 92, 92, 100%);
  --white: rgba(255, 255, 255, 100%);
}

/* sm: '480px',
      md: '768px',
      lg: '976px',
      xl: '1440px' */

* {
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  background-color: var(--bg);
  margin: auto 2rem;
}
/* mobile first */
/* index.html */
.hero-logo {
  text-align: center;
}

.heading {
  max-width: 28rem;
  font-weight: bold;
  color: var(--darkBlue);
  text-align: center;
  font-size: 20px;
  line-height: 2rem;
}

.btn-div {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
.btn-div .button {
  padding: 0.75rem;
  padding-top: 0.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  color: var(--white);
  background-color: var(--darkBlue);
  border-radius: 0.3rem;
  width: 7rem;
  height: 1rem;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
}
.img {
  width: 20rem;
}
.newsletter {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: space-between;
  margin: 3rem 4rem;
  border-radius: 15px;
  padding: 3rem 3.5rem;
  background-color: var(--darkBlue);
}
form input {
  width: 80%;
  height: 2rem;
}
.join-btn {
  width: 3rem;
  height: 2rem;
  background-color: var(--color7);
  color: var(--white);
  position: relative;
}


.signin-box,.signup-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.legend {
  color: var(--darkBlue);
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
}
.legend span {
  font-weight: 700;
  font-size: 24;
}
#signin-email, #signin-pwd {
  border: none;
  width: 28rem;
  height: 2.5rem;
  margin: 0.5rem 0;
  border-radius: 5px;
  padding: 0.5rem 0.5rem;
  outline: none;
}
#signin-pwd::placeholder, #signin-email::placeholder{
  color: var(--darkBlue);
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}
.forgot-pwd {
  position: relative;
  top: -10px;
  left: 15rem;
  color: var(--darkBlue);
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  
}
.forgot-pwd a {
  text-decoration: none;
  color: var(--darkBlue);
  font-weight: bolder;
}
.btn-box {
text-align: center;
margin: 1rem 0;
}
.btn-box button, .btn-box a {
  width: 8.5rem;
  height: 3rem;
  border-radius: 10px;
  margin: 0 0.5rem;
}

.btn-box a {
    padding: 12px 30px;
    text-decoration: none;
    width: 8.5rem;
    height: 3rem;
    border-radius: 10px;
    margin: 0 0.5rem;
  }

#btn1 {
  border: 2px solid var(--darkBlue);
  background-color: transparent;
  color: var(--darkBlue);
  font-weight: 700;
  font-size: large;
  font-family: 'Open Sans', sans-serif;
}
#btn2 {
  background-color: var(--darkBlue);
  color: var(--bg);
  font-weight: 700;
  font-size: large;
  font-family: 'Open Sans', sans-serif;
}
#or {
  color: var(--darkBlue);
  margin-top: 0.5rem;
  font-size: 32px;
  font-weight: 700;
  font-family: 'Open Sans', sans-serif;
}
.body {
  background-color: var(--darkBlue);
}
.account, .new-here {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 50%;
  position: absolute;
  top: 30%;
  left: 25%;
  font-family: 'Open sans', sans serif;
}
.account h2, .new-here h2 {
  color: white;
  font-size: 36px;
  margin-bottom: 5rem;
  line-height: 1;
}
.account button, .new-here button {
  width: 10rem;
  height: 3rem;
  border-radius: 2.5rem;
  background-color: transparent;
  border-color: var(--white);
  color: var(--white);
  font-family: 'Montserrat';
  font-weight: bold;
  font-size: 16px;
}
.new-here p {
  color: var(--white);
  font-weight: lighter;
  font-size: 14px;
  margin-bottom: 3rem;
  
}
.new-here span {
  font-style: italic;
}
.new-here button {
  border-radius: 7px;
  border: 0.5px solid;
}




@media screen and (min-width: 768px) {
  body {
    margin: 0 0;
    overflow-x: hidden;
  }
  .container {
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0;
  }
  
  .newsletter {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  .newsletter-form > input {
    width: 30%;
    height: 1.5rem;
    border-radius: 7px;
    outline: none;
    border: none;
    padding: 0.2rem 0.5rem;
    
  }
  .join {
    color: var(--white);
    margin-bottom: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
  }
  .join-para {
    color: var(--grey);
    font-size: smaller;
    position: relative;
    top: -1.5rem;
  }
  .join-btn {
    width: 3rem;
    height: 2rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: smaller;
    border: none;
    border-radius: 7px;
    background-color: var(--color7);
    color: var(--white);
    position: relative;
    left: -3rem;
  }
  .newsletter-form::placeholder {
    font-size: 0.5px;
    color: var(--grey);
  }
}




@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat'), url('../static/fonts/Montserrat-Regular.ttf');
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: 'Open Sans';
    src: url('OpenSans-Regular.ttf');
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat'), url('../static/fonts/Montserrat-Bold.ttf');
    font-style: normal;
    font-weight: 700;
}
@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat'), url('../static/fonts/Montserrat-SemiBold.ttf');
    font-style: normal;
    font-weight: 500;
}

.page-container {
    min-height: 50vh;
}

p {
    line-height: 22px;
    font-family: 'Open Sans';
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5% 10px;
    border-bottom: 1px solid #04045E;
}
#brand_color {
    color: #00B4D8;
}

.navigations,.nav-btns {
    display: flex;
    gap: 45px;
}

.navigations a {
    text-decoration: none;
    color: #000;
}
.nav-btns {
    gap: 10px;
}
.nav-btns a{
    font-family: Montserrat;
    text-decoration: none;
    padding: 10px 20px;
    border: 1px solid;
    border-radius: 8px;
    cursor: pointer;
}
#btn-1 {
    border-color: #04045E;
    color: #04045E;
}
#btn-1:hover {
    background: rgb(159, 230, 247);
    color: rgb(216, 244, 250);
}

#btn-2 {
    background-color: #04045E;
    color: rgb(207, 241, 249);
    /* text-decoration: none; */
}

#btn-2:hover {
    background: #010122;
    color: rgb(207, 241, 249);
}

main {
    padding: 8% 17% 0;
}
section {
    padding-top: 6%;
}

ul {
    list-style: none;
}

/* ul li::marker {
    font-size: 2em;
    vertical-align: middle;
    padding-top: 5px;
} */

ul li::before {
    content: "\2022";
    color: #04045E;
    font-weight: bold;
    font-size: 2.5em;
    /* padding-top: 5px; */
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
}

.center {
    text-align: center;
}

.heading {
    font-weight: 500;
    padding: 30px 0 15px;
}

.header {
    padding: 0;
    font-weight: 500;
}

footer {
    margin-top: 30px;
    display: flex;
    padding: 3% 5% 10% ;
    border-top: 1px solid #04045E;
}

.right {
    margin-left: 7%;
    display: flex;
    flex-direction: column;
}
.right a {
    padding-top: 20px;
    font-weight: 500;
    text-decoration: none;
}

.right h3 {
    font-weight: bold;
}

#footer-hero {
    width: 45%;
    padding-top: 30px;
}

#footer-hero h1 {
    font-size: 2.5em;
}

